body {
    background-color: rgb(29,42,53);
    font-family: Lucida Console;
    color: rgb(237, 234, 222);
    }

header ul {
    list-style-type: none;
    float: right;
}

/* li {
    float: left;
} */

h1 {
  text-align: center;
}

h1 span {
    font-size: 50%;
}

/* img {
    height: 100px;
} */

/* header {
  background-image: url("images/banner.jpg");
} */

#logoarg {
  float: left;
}